// Post Expand
// --------------------------------------------------
.posts-expand .home {
  .post-title, .post-meta {
    text-align: $site-meta-text-align;
    // edit
    line-height: 1.25;
    // endedit

    +mobile() {
      text-align: center;
    }
  }

  .post-meta {
    margin: 5px 0 20px 0;
    // edit
    margin: 0;
    // endedit
  }

  // edit
  h1.post-title {
    font-size: 1.25em;
  }
  .post-button {
    margin: 0;
    a {
      border: none;
      font-size: 0.75em;
    }
  }

  .post-body {
    margin-top: 5px;
    font-size: 1em;
    color: #999;
    line-height: 1.5;

    p {
      margin: 0;
    }
  }
  // endedit
}

.posts-expand {
  padding-top: 0;

  .post-eof {
    display: none;
  }

  article {
    margin-top: 120px;
    // edit
    margin-top: 20px;
    border-bottom: #999 dotted 1px;
    // endedit

    &:first-child {
      margin-top: 0;
    }
  }

  .post-title, .post-meta {
    text-align: center;
  }

  .post-title-link::before {
    background-color: $black-deep;
  }

  .post-body img {
    margin-left: 0;
  }

  .post-tags {
    text-align: left;

    a {
      background: $whitesmoke;
      border-bottom: none;
      padding: 1px 5px;
    }

    a:hover {
      background: $grey-light;
    }
  }

  .post-nav {
    margin-top: 40px;
  }
}

.post-button {
  margin-top: 20px;
  text-align: left;

  a {
    // color: $grey-dim;
    background: none;
    border: 0;
    border-bottom: 2px solid $grey-dim;
    font-size: $font-size-small;
    padding: 0;
    transition-property: border;

    &:hover {
      border-bottom-color: $black-deep;
    }
  }
}
